<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- <h4 class="section-heading">Close your eyes, take a deep breath and feel the air filling your lungs</h4> -->
                <hr class="light">
                <p class="text-faded">
                    Bruno Nazario Coelho (1986) lives in Ouro Preto - Brazil, a UNESCO world heritage city that inspires countless artists.
                    <br><br>
                    At the age of 11 he received his first artistic award, in a drawing contest. This fact motivated his development in other artistic skills, being his first painting on canvas in 2001. Lately he has been improving in modeling and digital arts, seeking to include aspects that translate the spirituality of many ancient cultures in his artworks.
                    <br><br>
                    Professor, researcher, automation engineer and artist working to inspire and motivate others to develop their technical skills and personal virtues.
                </p>
                <a href="http://lattes.cnpq.br/8649025399388231" class="btn btn-default btn-xl" target="_blank">Complete  CV</a>
            </div>
        </div>
    </div>
</section>
