<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Close your eyes, take a deep breath and feel the air filling your lungs</h2>
                <hr class="light">
                <p class="text-faded">Start p a...</p>
                <a href="http://lattes.cnpq.br/8649025399388231" class="btn btn-default btn-xl" target="_blank">Complete  CV</a>
            </div>
        </div>
    </div>
</section>
